* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background: #f7e7d5;
    background: radial-gradient(circle, rgba(247, 231, 213, 1) 53%, rgba(70, 171, 104, 1) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 10px 0;
    }
}

#forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset {
    border: none;
    margin: 15px 0;
}

label {
    font-size: 1.2rem;
    font-weight: 700;
}

#nota1,
#nota2,
#nota3,
#nota4 {
    width: 20rem;
    height: 36px;
    padding: 5px;
    outline: none;
    border-radius: 5px;
    border: gray solid 1px;
    font-size: 1.1rem;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.msgInfo {
    color: brown;
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
}

.btn {
    background-color: rgb(5, 92, 34);
    height: 45px;
    width: 10rem;
    color: #f7e7d5;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    align-content: center;
    justify-content: center;
}

.resultado {
    font-size: 1.2rem;
    min-height: 200px;
    width: 60%;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    background-color: #f7e7d544;
}
